body {
    background-color: hsl(0, 0%, 10%);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1 {
    color: #ffffff;
    text-align: center;
    padding: 2vh 0;
    margin: 0;
    width: 100vw;
    font-size: 5vh;
}
h2 {
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
h3 {
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
    font-size: 18px;
    margin: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    text-align: start;
}
button {
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-self: center;
    margin: 10px;
}
textarea {
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
    text-wrap-mode: wrap;
    word-wrap: break-word;
    width: 100%;
    height: 15vh;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}
div {
    background-color: hsl(0, 0%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    border-radius: 30px;
    width: 90%;
    margin: 0px 5%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.row1 {
    background-color: #0000;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
}
.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0;
    overflow-y: scroll;
}
.col1 p {
    max-height: 25vh;
    overflow-y: scroll;
}   
.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
}
.col2 p {
    max-height: 80vh;
    overflow-y: scroll;
}





/* Scrollbar styling for WebKit browsers */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000; 
  margin: 5px 0px;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    background-color: #9991;
    display: block;
    height: 10px;
    width: 10px;
    border: #fff1 solid 3px;
    border-radius: 7.5px 0px 5px 0px;
}