<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palworld Web Panel</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Palworld Web Panel</h1>
    <div class="row1">
        <div class="col1">
            <div>
                <h2>Send Announcement</h2>
                <textarea name="msg" id="announce">I've come to make an announcement: Shadow the Hedgehog's a bitch-ass motherfucker</textarea>
                <button onclick="announce()"><h3>Send announcement</h3></button>
                <!--
                <form action="/announce" method="POST">
                    <textarea name="msg" id="">I've come to make an announcement: Shadow the Hedgehog's a bitch-ass motherfucker</textarea>
                    <button type="submit"><h3>Send announcement</h3></button>
                </form>
                -->
            </div>

            <div>
                <h2>Save Server</h2>
                <button onclick="save()"><h3>Save</h3></button>
                <!--
                <form action="/save" method="POST">
                    <button type="submit"><h3>Save</h3></button>
                </form>
                -->
            </div>

            <div>
            <h2>Metrics</h2>
            <p id="metrics"></p>
            </div>
        </div>
        <div class="col2">
            <div>
            <h2>Players</h2>
            <p id="players"></p>
            </div>
        </div>
    </div>


    <script>
        function save() {
            fetch('/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
        function announce() {
            let formData = new FormData();
            const announcement = document.getElementById('announce').value
            formData.append('msg', announcement);
            fetch('/announce', {
                method: 'POST',
                body: formData,
            })
        }
        function getMetrics() {
            fetch('/metrics', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(async res => {
                const data = await res.json().catch(() => ({}));
                if (res.ok) {
                    //console.log('GET metrics sucsses:', data)
                    const metrics = `uptime: ${data.uptime} \n players: ${data.players}/${data.maxPlayers} \n ingame days elapsed: ${data.ingameDays} \n server FPS: ${data.serverFps} \n server frame time: ${data.serverFrameTime}`
                    document.getElementById('metrics').innerText = metrics
                }
                else console.error('Metrics error:', res.status, data);
            })
            .catch(err => console.error('Fetch error:', err));
        }
        function getPlayers() {
            fetch('/players', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(async res => {
                const data = await res.json().catch(() => ({}));
                if (res.ok) {
                    //console.log('GET players sucsses:', data)
                    playerList = ""
                    if (data.length === 0) {
                        document.getElementById('players').innerText = "No players online"
                        return
                    }
                    for (let i = 0; i < data.length; i++) {
                        const element = data[i];
                        playerList += `Name: ${element.name} \n Account Name: ${element.accountName} \n Ping: ${element.ping} \n Level: ${element.level} \n x: ${element.x} \n y: ${element.y} \n \n`
                    }
                    const metrics = JSON.stringify(data)
                    document.getElementById('players').innerText = playerList
                }
                else console.error('Metrics error:', res.status, data);
            })
            .catch(err => console.error('Fetch error:', err));
        }
        setInterval(getMetrics, 5000)
        setInterval(getPlayers, 5000)
        getMetrics()
        getPlayers()
    </script>
</body>
    </html>